.comments-sec{
    background: #b4cccf;
    height: 92vh;
}
@media(min-width:568px){
    .end{
        margin-left: auto;
    }
}
@media(max-width:768px){
    #post{
        width: 100%;
    }
}

.post-comment{
    margin: 10px;
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: black;
    color: #d5dfd1;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 50%;
}
.post-comment:hover{
    background-color: #75b2ba;
    color: black;
}

.comment{
    background: #b4cccf;
    border-radius: 15%;
    box-shadow: inset 9.91px 9.91px 15px #A4BABC, inset -9.91px -9.91px 15px #C4DEE2;
    float: left;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
}
.comment h4,.comment span,.darker h4,.darker span{
    display: inline;
}
.comment p,.comment span,.darker p,.darker span{
    color: black;
}
h1,h4{
    color: black;
    font-weight: bold;
}
.label1{
    background-color: transparent;
    font-weight: 500;
}
#align-form{
    margin-top: 20px;
}
.form5 p a{
    color: white;
}
#checkbx{
    background-color: black;
}
#darker img{
    margin-right: 15px;
    position: static;
}
.form5 input,.form5 textarea{
    background-color: transparent;
    border: 1px solid rgba(16, 46, 46, 1);
    border-radius: 12px;
}
.comment-form{
    background: #b4cccf;
    border-radius: 1rem;
    box-shadow: inset 9.91px 9.91px 15px #A4BABC, inset -9.91px -9.91px 15px #C4DEE2;
    padding: 20px;
 }
 
 .foot{
     display: flex;
     justify-content: space-between;
 }
 .gen{
     padding-top: 4rem;
 }
 .back{
     display: flex;
     justify-content: space-between;
 }









