/* navbar */
.navbar {
    background: #d5dfe1;
}
  .nav-link:hover {
    background: #d5dfe1 !important;
    border-radius: 0.5em;
    box-shadow: inset 9.91px 9.91px 15px #C2CBCD, inset -9.91px -9.91px 15px #E8F3F5;
  }
  