{% extends 'base.html' %}
{% macro display_reviews(reviews) %}
<div class="commentor">
    <div class="row">
        <div class="col-md-12">
            {% if reviews %}
            {% for review in reviews %}
             <div class="comment mt-4 text-justify float-left">
                    <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius"
                        alt="User-Profile-Image">
                    <h4>{{review.nickname}}</h4>
                    <br>
                    <p>{{review.comment}}</p>
                        <hr style="color: black;">
                        <div class="foot">
                        <p style="color: black; padding-top: 5%;">{{review.date.strftime('%Y-%m-%d')}}</p>
                        <a href="/delete/{{review.id}}"><button class="btn comment-button red"><i
                                    class="bi bi-trash3-fill" style='font-size:26px;'></i></button></a>
                        </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}










