{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../static/images/elp.jpg" height="640" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <h3 class="mb-5"> Adventure Awaits, Go Find It</h3>
                <button type="button" class="btn btn-secondary"><a href="/bookings" class="no-decorations">Book a slot</a></button>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../static/images/img3.jpg" height="640" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <h3 class="mb-5">Book With Us And Book It Out Of Here!</h3>
                <button type="button" class="btn btn-dark"><a href="/bookings" class="no-decorations">Book a slot</a></button>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../static/images/mdl.jpg" height="640" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <h3 class="mb-5"> Inspiring Destinations Within Your Reach.</h3>
                <button type="button" class="btn btn-secondary"><a href="/bookings" class="no-decorations">Book a slot</a></button>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <div class="section section-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-12  text-center">
            <h2 class="title2">Who we are?</h2>
            <h5 class="description8">We offer safari services plus luxurious transportation to and from anywhere in the Kenya area partnered with all the essentials you need to ensure a successful business event or special occasion.</h5>
          </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
            <div class="row">
                <div class="col-md-6">
                  <div class="image-container image-left" style="background-image: url('https://raw.githack.com/creativetimofficial/now-ui-kit/master/assets/img/login.jpg')">
                    <!-- First image on the left side -->
                    <p class="blockquote blockquote-primary mt-5">"Choose from a wide range of safari destinations and adventures. Holidays in Kenya include game reserves, camping and national parks. "
                      <br>
                      <br>
                      <button type="button" class="btn btn-secondary"><a href="/bookings" class="no-decorations">Book a slot</a></button>
                    </p>
                  </div>
                  <!-- Second image on the left side of the article -->
                  <div class="image-container" style="background-image: url('https://raw.githack.com/creativetimofficial/now-ui-kit/master/assets/img/bg3.jpg')"></div>
                </div>
                <div class="col-md-5">
                  <!-- First image on the right side, above the article -->
                  <div class="image-container image-right" style="background-image: url('https://raw.githack.com/creativetimofficial/now-ui-kit/master/assets/img/bg1.jpg')"></div>
                  <h3 class="mt-5">Why Customers Love Us?</h3>
                  <p>With over three decades’ experience putting together dream holidays for our valued guests, we are passionate about bringing your perfect holiday to life. 
                  </p>
                  <p>
                    Based in Kenya, our unparalleled knowledge of the country and our contacts with leading safari lodges, camps and guides means we can create a unique experience, completely tailored to suit your interests. 
                  </p>
                  <p>Whether you’re looking for a luxury safari and beach escape or want to get up close to wildlife while glamping, we take care of everything for you, so you can create memories that last a lifetime.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section section-team text-center mb-5">
          <div class="container">
            <h2 class="mb-5">Previous safaris</h2>
            <div class="team">
              <div class="row">
                <div class="col-md-4">
                  <div class="team-player">
                    <img src="../static/images/img2.jpg" alt="Thumbnail Image" class="mb-2 img-fluid img-raised">
                    <h4 class="">Tsavo East</h4>
                    <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                      for people to be able to follow them outside the site.</p>
                      <button type="button" class="btn btn-secondary"><a href="/review" class="no-decorations">Review</a></button>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="team-player">
                    <img src="../static/images/img1.jpg" alt="Thumbnail Image" class="mb-2 img-fluid img-raised">
                    <h4 class="">Nairobi National Park</h4>
                    <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                       for people to be able to follow them outside the site.</p>
                       <button type="button" class="btn btn-secondary"><a href="/review" class="no-decorations">Review</a></button>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="team-player">
                    <img src="../static/images/img3.jpg" alt="Thumbnail Image" class="mb-2 img-fluid img-raised">
                    <h4 class="">Amboseli</h4>
                    <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                       for people to be able to follow them outside the site.</p>
                       <button type="button" class="btn btn-secondary"><a href="/review" class="no-decorations">Review</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

    <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <!-- Contact Info-->
          <section class="widget widget-light-skin">
            <h3 class="widget-title">Get In Touch With Us</h3>
            <p class="text-white">Phoe: +254700000000</p>
            <ul class="list-unstyled text-sm text-white">
              <li><span class="opacity-50">Monday-Friday:</span>9.00 am - 8.00 pm</li>
              <li><span class="opacity-50">Saturday:</span>10.00 am - 6.00 pm</li>
            </ul>
            <p><a class="navi-link-light" href="#">safaritours@gmail.com</a></p><a class="social-button shape-circle sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a><a class="social-button shape-circle sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-button shape-circle sb-instagram sb-light-skin" href="#"><i class="socicon-instagram"></i></a><a class="social-button shape-circle sb-google-plus sb-light-skin" href="#"><i class="socicon-googleplus"></i></a>
          </section>
        </div>
        <div class="col-lg-3 col-md-6">
          <!-- Mobile App Buttons-->
          <section class="widget widget-light-skin">
            <h3 class="widget-title">Our Mobile App</h3><a class="market-button apple-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">App Store</span></a><a class="market-button google-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Google Play</span></a><a class="market-button windows-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Windows Store</span></a>
          </section>
        </div>
        <div class="col-lg-3 col-md-6">
          <!-- About Us-->
          <section class="widget widget-links widget-light-skin">
            <h3 class="widget-title">About Us</h3>
            <ul>
              <li class="mb-2"><a href="#" class="no-dec">Upcoming events</a></li>
              <li class="mb-2"><a href="#" class="no-dec">About Us</a></li>
              <li class="mb-2"><a href="#" class="no-dec">Our Story</a></li>
              <li class="mb-2"><a href="#" class="no-dec">Services</a></li>
              <li class="mb-2"><a href="#" class="no-dec">Our team</a></li>
            </ul>
          </section>
        </div>
        <div class="col-lg-3 col-md-6">
          <!-- Account / Shipping Info-->
          <section class="widget widget-links widget-light-skin">
            <h3 class="widget-title">Support &amp; Policies</h3>
            <ul>
              <li class="mb-2"><a href="#" class="no-dec">Privacy Policy</a></li>
              <li class="mb-2"><a href="#" class="no-dec">Destinations</a></li>
              <li class="mb-2"><a href="#" class="no-dec">Refund Policy</a></li>
              <li class="mb-2"><a href="#" class="no-dec">Tailor Made</a></li>
              <li class="mb-2"><a href="#" class="no-dec">Contact Us</a></li>
            </ul>
          </section>
        </div>
      </div>
      <hr class="hr-light mt-2 margin-bottom-2x">
      <!-- Copyright-->
      <p class="footer-copyright text-center">&copy; All rights reserved.</a></p>
    </div>
  </footer>
{% endblock %}
