{% extends 'base.html' %}
{% block content %}
<section class=" gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card login-card">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-3 mt-md-4 pb-3">
  
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="white mb-5">We missed you. Welcome back!</p>

                <form>
                <div class="form-outline form-white mb-4">
                  <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="Email"/>
                  <label class="form-label" for="email"></label>
                </div>
  
                <div class="form-outline form-white mb-4">
                  <input type="password" id="password"  name="password" class="form-control form-control-lg" placeholder="Password"/>
                  <label class="form-label" for="password"></label>
                </div>
  
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
  
              </div>
              </form>
  
              <div>
                <p class="mb-0 white">Don't have an account? <a href="/signup" class="text-white-50 fw-bold no-decoration"><span class="blue">Sign up</span></a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
