{% extends 'base.html' %}

{% block content %}
<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start signup1" >
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              Trip na marafiki <br />
              <span class="signup-span my-5">with Safari Tours</span>
            </h1>
            <p class="signup-p">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eveniet, itaque accusantium odio, soluta, corrupti aliquam
              quibusdam tempora at cupiditate quis eum maiores libero
              veritatis? Dicta facilis sint aliquid ipsum atque?
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form>
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name" />
                        <label class="form-label" for="firstname"></label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last name"/>
                        <label class="form-label" for="lastname"></label>
                      </div>
                    </div>
                  </div>
  
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input type="email" id="email" class="form-control" name="email" placeholder="Email address"/>
                    <label class="form-label" for="email"></label>
                  </div>
  
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <input type="password" id="password1" name="password1" class="form-control" placeholder="Password"/>
                    <label class="form-label" for="password1"></label>
                  </div>
  
                   <!-- Password input -->
                   <div class="form-outline mb-4">
                    <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm password"/>
                    <label class="form-label" for="password2"></label>
                  </div>
  
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Sign up
                  </button>
  
                  <!-- Register buttons -->
                  <div class="text-center">
                    <p>Already have an account? <span class="text-primary"><a class="no-decoration" href="/login">Sign in</a></span></p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
{% endblock %}
